---
layout: "you_eye/default"
nav: "classes"
notification: classes
timetable:
  - day: "Monday"
    notice: "The Kendal classes do not start until 4th April"
    location: "Hallgarth Community Centre <br>Hallgarth Cir <br>Kendal <br>LA9 5NU"
    google: "https://www.google.co.uk/maps/place/Hallgarth+Community+Centre/@54.3391234,-2.7594422,17z/data=!3m1!4b1!4m2!3m1!1s0x487c8d92c1afebfd:0x18e5c0c3081cb089?hl=en"
    classes:
      - name: Babes
        time: "4:00pm - 5:00pm"
        add_to_calendar:
          title: "Kendal Babes"
          description: "Kendal Babes"
          location: "Hallgarth Community Centre, Hallgarth Cir, Kendal, LA9 5NU"
          day: "1"
          start_time: "16:00:00"
          end_time: "17:00:00"
      - name: Juniors
        time: "5:00pm - 6:00pm"
        add_to_calendar:
          title: "Kendal Juniors"
          description: "Kendal Juniors"
          location: "Hallgarth Community Centre, Hallgarth Cir, Kendal, LA9 5NU"
          day: "1"
          start_time: "17:00:00"
          end_time: "18:00:00"
      - name: Inters
        time: "6:00pm - 7:00pm"
        add_to_calendar:
          title: "Kendal Inters"
          description: "Kendal Inters"
          location: "Hallgarth Community Centre, Hallgarth Cir, Kendal, LA9 5NU"
          day: "1"
          start_time: "18:00:00"
          end_time: "19:00:00"
  - day: "Wednesday"
    notice: ""
    location: "For Studio Nine<br>Studio Nine <br>51 Needham Dr <br>Workington <br>CA14"
    google: "https://www.google.co.uk/maps/place/Studio+9/@54.6276871,-3.5528266,17z/data=!3m1!4b1!4m2!3m1!1s0x48632c6b74514ca7:0x77d7624fe4b31092?hl=en"
    classes:
      - name: Infant Ballet
        time: "3:45pm - 4:30pm"
        add_to_calendar:
          title: "Workington Infant Ballet"
          description: "Workington Infant Ballet"
          location: "Studio Nine, 51 Needham Dr, Workington, CA14"
          day: "3"
          start_time: "15:45:00"
          end_time: "16:30:00"
      - name: Junior Ballet
        time: "4:30pm - 5:30pm"
        add_to_calendar:
          title: "Workington Junior Ballet"
          description: "Workington Junior Ballet"
          location: "Studio Nine, 51 Needham Dr, Workington, CA14"
          start_time: "16:30:00"
          end_time: "17:30:00"
          day: "3"
      - name: Contemporary
        time: "5:30pm - 6:30pm"
        add_to_calendar:
          title: "Workington Contemporary"
          description: "Workington Contemporary"
          location: "Studio Nine, 51 Needham Dr, Workington, CA14"
          start_time: "17:30:00"
          end_time: "18:30:00"
          day: "3"
      - name: Adult Street
        time: "6:30pm - 7:30pm"
        add_to_calendar:
          title: "Workington Adult Street"
          description: "Workington Adult Street"
          location: "Studio Nine, 51 Needham Dr, Workington, CA14"
          start_time: "18:30:00"
          end_time: "19:30:00"
          day: "3"
      - name: Pointe
        time: "7:30pm - 8:15pm"
        add_to_calendar:
          title: "Workington Pointe"
          description: "Workington Pointe"
          location: "Studio Nine, 51 Needham Dr, Workington, CA14"
          start_time: "19:30:00"
          end_time: "20:15:00"
          day: "3"
  - day: "Friday"
    notice: ""
    location: "For The Maria Frances School of Dance<br>Keswick Methodist Church <br>6 Southey St <br>Keswick <br>CA12 4E"
    google: "https://www.google.co.uk/maps/place/Keswick+Methodist+Church/@54.6394885,-3.5279351,10z/data=!4m5!1m2!2m1!1smethodist+church+keswick!3m1!1s0x487cdb62f26fff5f:0x430eeec5c0927387?hl=en"
    classes:
      - name: Babes
        time: "4:00pm - 5:00pm"
        add_to_calendar:
          title: "Keswick Babes"
          description: "Keswick Babes"
          location: "Keswick Methodist Church, 6 Southey St, Keswick, CA12 4E"
          start_time: "16:00:00"
          end_time: "17:00:00"
          day: "5"
      - name: Juniors
        time: "5:00pm - 6:00pm"
        add_to_calendar:
          title: "Keswick Juniors"
          description: "Keswick Juniors"
          location: "Keswick Methodist Church, 6 Southey St, Keswick, CA12 4E"
          start_time: "16:00:00"
          end_time: "17:00:00"
          day: "5"
      - name: Inters
        time: "6:00pm - 7:00pm"
        add_to_calendar:
          title: "Keswick Inters"
          description: "Keswick Inters"
          location: "Keswick Methodist Church, 6 Southey St, Keswick, CA12 4E"
          start_time: "16:00:00"
          end_time: "17:00:00"
          day: "5"
---

<div class="classes row">
    <div class="info row">
        <h5>
            For private lessons, workshops or requests for more lessons please go to <a href="/contacts">contacts</a>
        </h5>
    </div>
    {% for day in page.timetable %}
    <div class="class row">
        <div class="information">
            <h3 class="columns twelve">{{day.day}}</h3>
            {% if day.notice != "" %}
                <span class="columns twelve notice">{{day.notice}}</span>
            {% endif %}
            {% include you_eye/components/location.html location=day.location google=day.google %}
        </div>
        <div class="timetable">
            <table>
                <thead>
                    <th>Class</th>
                    <th>Time</th>
                    <th>Add to Calendar</th>
                </thead>
                <tbody>
                    {% for class in day.classes %}
                    <tr>
                        <td>{{class.name}}</td>
                        <td>{{class.time}}</td>
                        <td>
                            {% include you_eye/components/add_to_cal.html title=class.add_to_calendar.title description=class.add_to_calendar.description location=class.add_to_calendar.location start_time=class.add_to_calendar.start_time end_time=class.add_to_calendar.end_time day=class.add_to_calendar.day%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="/scripts/you_eye/add_to_cal.js"></script>