---
layout: "you_eye/default"
nav: "events"
notification: events
scheduledEvents:
    - name: "One, Singular Sensation"
      date: "Sunday 26th June"
      location: "Sands Centre, Carlisle"
      google: "https://www.google.co.uk/maps/place/The+Sands+Centre/@54.8996862,-2.9364539,17z/data=!3m1!4b1!4m2!3m1!1s0x487d1a239c937443:0x9c7e7dfe843ccaa8"
      image: "/images/events/one_singluar_sensation.jpg"
      message: "The Maria Frances School of Dance annual show. A fantastic celebration of dance with adorable babes to amazing seniors. You can book your tickets today by going to the <a href='http://www.thesandscentre.co.uk/events/Maria-Frances-School-of-Dance-341'>Sands Centre</a>"
      add_to_cal_title: "One, Singular Sensation"
      add_to_cal_description: "The Maria Frances School of Dance annual show. A fantastic celebration of dance with adorable babes to amazing seniors."
      add_to_cal_location: "Newmarket Rd, Carlisle CA1 1JQ"
      add_to_cal_start_time: "2016-06-26 18:00:00"
      add_to_cal_end_time: "2016-06-26 21:00:00"
---
<div class="events">
    {% for event in page.scheduledEvents %}
        {% if event.image != null %}
            <div class="row event">
                <div class="column one-half">
                    <h3 class="columns twelve">{{event.name}}</h3>
                    <p class="columns twelve">{{event.date}}</p>
                    {% include you_eye/components/add_to_cal.html title=event.add_to_cal_title description=event.add_to_cal_description location=event.add_to_cal_location start_time=event.add_to_cal_start_time end_time=event.add_to_cal_end_time day=event.add_to_cal_day %}
                    {% include you_eye/components/location.html location=event.location google=event.google%}
                    <p class="columns twelve">{{event.message}}</p>
                </div>
                <div class="column one-half">
                    <img class="u-full-width" src="{{event.image}}">
                </div>
            </div>
        {% else %}
            <div class="row event">
                <div class="column one-half">
                    <h3 class="columns twelve">{{event.name}}</h3>
                    <p class="columns twelve">{{event.date}}</p>
                    {% include you_eye/components/add_to_cal.html title=event.add_to_cal_title description=event.add_to_cal_description location=event.add_to_cal_location start_time=event.add_to_cal_start_time end_time=event.add_to_cal_end_time day=event.add_to_cal_day %}
                    {% include you_eye/components/location.html location=event.location google=event.google%}
                </div>
                <div class="column one-half">
                    <p class="columns twelve">{{event.message}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript" src="/scripts/your_eye/add_to_cal.js"></script>
