---
layout: "you_eye/default"
nav: "gallery"
notification: gallery
images:
  - title: "February Acro Workshop"
    message: "A great acro workshop with guest teacher, Miss Francesca. Everyone greatly improved through lots of enthusiasm and hard work!"
    cover_file: "/images/acro_workshop/19.jpeg"
    slides:
      - src: "/images/acro_workshop/0.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/1.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/2.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/3.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/4.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/5.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/6.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/7.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/8.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/9.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/10.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/11.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/12.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/13.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/14.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/15.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/16.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/17.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/18.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/19.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/20.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/21.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/22.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/23.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/24.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/25.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/26.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/27.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/28.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/29.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/30.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/31.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/32.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/33.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/34.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/35.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/36.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/37.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/38.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/39.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/40.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/41.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/42.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/43.jpeg"
        h: 3264
        w: 2448
      - src: "/images/acro_workshop/44.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/45.jpeg"
        w: 3264
        h: 2448
      - src: "/images/acro_workshop/46.jpeg"
        w: 3264
        h: 2448
  - title: "I've Got The Music In Me"
    message: "The Keswick classes and some classes from Studio Nine were invited to perform at the Maria Frances School of Dance annual show at the Sands Centre Carlisle on Saturday 27th June 2015"
    cover_file: "/images/carlisle/0.png"
    slides:
      - src: "/images/carlisle/L0.jpg"
        w: 1600
        h: 1067
      - src: "/images/carlisle/L1.jpg"
        w: 1600
        h: 1067
      - src: "/images/carlisle/L2.jpg"
        w: 1600
        h: 1067
      - src: "/images/carlisle/L3.jpg"
        w: 1600
        h: 1067
      - src: "/images/carlisle/L4.jpg"
        w: 1067
        h: 1600
      - src: "/images/carlisle/L5.jpg"
        w: 1600
        h: 1067
      - src: "/images/carlisle/L6.jpg"
        w: 1600
        h: 1067
---
<div class="galleries">
    {% for gallery in page.images %}
        {% include site/gallery.html title=gallery.title message=gallery.message cover_file=gallery.cover_file slides=gallery.slides %}
    {% endfor %}
</div>
{% include you_eye/components/photoswipe.html %}
