a {
    text-decoration: none;
}

.body {
    background-color: lighten($dark-first, 7.5%);
    padding: 2em 0;
}

@import "header";
@import "cookies";
@import "footer";

@import "navigation";
@import "location";
@import "calendar";
