.navigation {
    .nav {
        display: inline-block;
        font-weight: bold;
        float: left;
        text-align: center;
        padding: 1%;
        &.selected {
            background-color: $light-second;
            color: darken($dark-second, 10%);
            &:hover {
                background-color: darken($light-second, 10%);
                color: darken($dark-second, 20%);
            }
        }
    }
}

@media (max-width: 750px) {
    .nav {
        width: 100% !important;
    }
}

@for $num from 1 to 12 {
    .navigation-#{$num} {
        .nav {
            width: 100/$num - 2%;
        }
    }
}