.classes {
    & .info {
        font-size: 1.5em;
    }
    & .notice {
        border-radius: 4px;
        text-align: center;
        font-size: 1.5em;
        padding: 1rem;
        background-color: $light-first;
        margin-bottom: 1rem;
    }
    & .icon {
        font-size: 1em;
    }
    & .class {
        border-top: 1px solid;
        padding: 2em 0;
    }
    & .timetable {
        width: 67%;
        display: inline-block;
        float: left;
        & table {
            width: 100%;
        }
    }
    & .information {
        width: 30%;
        margin-right: 3%;
        display: inline-block;
        float: left;
    }
}

@media (max-width: 1000px) {
    .timetable,
    .information {
        margin: 0;
        width: 100% !important;
    }
}
