.events {
    .event {
        border-bottom: solid 1px;
        margin-bottom: 3em;
        & .icon {
            font-size: 1em;
        }
        & img {
            margin-bottom: 2.5rem;
            width: 100%;
        }
        & p {
            font-size: 2rem;
            text-align: justify;
        }
    }
}
