.friends {
    & .title {
        font-size: 1.3em;
        font-weight: bold;
        padding: 1.3rem;
        margin-bottom: 1em;
        border-radius: 4px;
    }
    & .friend {
        display: inline-block;
        float: left;
        width: 49%;
        text-align: center;
        margin-bottom: 1%;
        &:nth-child(even) {
            float: right;
        }
        & .image {
            background-color: $middle-first;
            margin-bottom: 0.5rem;
            padding: 1rem;
            height: 10em;
            border-radius: 4px 4px 0 0;
            &:hover {
                background-color: darken($middle-first, 5%);
                border-color: darken($middle-first, 5%);
            }
            & img {
                height: 100%;
            }
        }
        & .link {
            width: 100%;
            & .button {
                border-radius: 0 0 4px 4px;
                font-size: 1em;
                & .icon {
                    color: $light-second;
                    font-size: 1em;
                    padding: 0 0.3rem;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .friends {
        & .friend {
            width: 100%;
        }
    }
}
