body {
    background-color: $dark-first;
    font-family: Tahoma, Geneva, sans-serif !important;
    color: $light-second;
}

figure {
    margin: 0;
}

a .icon,
a {
    text-decoration: none;
    color: lighten($light-first, 10%);
    &:hover {
        color: lighten($light-first, 20%);
    }
}

a .icon {
    padding: 0 0.1rem;
}

hr {
    margin: 0;
}

.banner_src {
    width: 50%;
}

@media(max-width: 750px) {
    .banner_src {
        width: 100%;
    }
}

@import "home";
@import "about";
@import "classes";
@import "gallery";
@import "events";
@import "contact";
@import "friends";
