<div class="contacts">
    <div class="row email_form">
        <div class="column one-half">
            <form action="//formspree.io/{{site.email}}" method="POST">
                <fieldset>
                    <legend>First Name</legend>
                    <input class="u-full-width" type="text" name="fname" placeholder="First Name" />
                    <legend>Last Name</legend>
                    <input class="u-full-width" type="text" name="lname" placeholder="Last Name" />
                    <legend>Email</legend>
                    <input class="u-full-width" type="email" name="_replyto" placeholder="me@email.com" />
                    <legend>Subject</legend>
                    <input class="u-full-width" type="text" name="_subject" placeholder="Subject" />
                    <legend>Message</legend>
                    <textarea class="u-full-width" type="text" name="message" placeholder="Message"></textarea>
                    <input type="hidden" name="_next" value="/thanks" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <div class="u-full-width">
                        <input class="button-primary column one-half" type="submit" value="SEND">
                        <input class="button-primary column one-half" type="reset" value="RESET">
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="column one-half">
            <table class="direct columns twelve">
                {% for contact in page.contacts %}
                  <tr>
                      <td><span class="icon icon-{{contact.icon}}"></span></td>
                      <td><a href="{{contact.href}}" target="_blank">{{contact.name}}</a></td>
                  </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
