body {
  font-family: 'Poppins', sans-serif;
}

main {
  background: linear-gradient(180deg, #010518 20.93%, rgba(26, 35, 83, 0) 75.89%), linear-gradient(125.42deg, #010518 20.31%, rgba(26, 35, 83, 0.86) 69.75%);
}

.hero {
  background-color: #010518;
}

.navbar-item {
  padding: 0;
  color: #fff;
}

a.navbar-item:hover,
a.navbar-item:active,
a.navbar-item:focus {
  background-color: rgba(26, 35, 83, 0.86);
  color: #fff;
}

a.navbar-item figcaption {
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 8px;
}

a.navbar-item:hover figcaption,
a.navbar-item:active figcaption,
a.navbar-item:focus figcaption {
  border-bottom: solid 1px #fff;
}

.title,
.subtitle {
  color: #fff;
}

.title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
}

.subtitle {
  letter-spacing: 0.05em;
  opacity: 0.7;
}

.navbar-item img {
  max-height: none;
}

.navbar-start .navbar-item {
  padding: 0 20px;
}

.social-icon svg {
  fill: #fff;
  width: 32px;
  height: auto;
}